<div class="container">
  <aside class="h500 bg-green col-sm-4 {{if showList '' 'pos-fixed hide-list'}}">

  </aside>

  <article class="h500 bg-red {{if showList 'col-sm-8' 'col-sm-12'}}">
     <button {{action "toggleShowList"}}>toggle</button>
  </article>
</div>
