<div class="h100p index-body container">
  <div class="col-sm-5 h100p">
    <div class="center text-center f40">
      <ul class="index-list">
        <li class="index-item">{{link-to "博客" "posts.list" 1}}</li>
        <li class="index-item">{{link-to "相册" "posts.list" 1}}</li>
        <li class="index-item">{{link-to "博主简介" "dev"}}</li>
      </ul>
    </div>
  </div>
  <div class="col-sm-7 h100p css7017392861716e f60">
    <span class="mt120 block">春风十里，一路有你</span>
    <span class="block fr mr50">—— Chosan</span>
  </div>
</div>
