@import "pod-styles";
@import 'bootstrap';


html {
  .pos-rel;
  overflow-x: hidden;
}

body {
  &, & > div[class="ember-view"] {
    .h100p
  }
}


.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f40{
  font-size: 40px;
}

.f60 {
  font-size: 60px;
}

.f80 {
  font-size: 80px;
}

.f100 {
  font-size: 100px;
}

.f100 {
  font-size: 100px;
}

.f120 {
  font-size: 120px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mt120 {
  margin-top: 120px;
}

.mt150 {
  margin-top: 150px;
}

.mt400 {
  margin-top: 400px;
}

.mb16 {
  margin-bottom: 16px;
}

.mr50 {
  margin-right: 50px;
}

.top50p {
  top: 50%;
}

.center {
  .pos-rel;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}


.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.h80{
  height: 80px;
}

.h100{
  height: 100px;
}

.h200{
  height: 200px;
}

.h300{
  height: 300px;
}

.h400{
  height: 400px;
}

.h500 {
  height: 500px;
}



.h800 {
  height: 800px;
}

.h5000 {
  height: 5000px;
}

.h100p {
  height: 100%;
}

.min-h100p {
  min-height: 100%;
}

.w100p {
  width: 100%;
}


.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.trans-width-1s {
  transition: width 1s;
}

.trans-left-1s {
  transition: left 1s;
}


.border {
  border: 1px solid #000;
}

.border-gray {
  border: 1px solid gray;
}


.border-radius-5px {
  border-radius: 5px;
}

.border-radius-8px {
  border-radius: 8px;
}


.border-radius-5p {
  border-radius: 5%;
}
